.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    /* 자동으로 패딩에 따라 사이즈 늘리지 않게 하려고 함 */
    box-sizing: border-box;
    border-top: var(--main-border);
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    position: relative;
    color: #2e363e;
}
.nav__combo {
    background-color: tomato;
    width: 5px;
    height: 5px;
    border: radius 15px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 30px;
}

.nav__notification {
    position: absolute;
    left: 15px;
    bottom: 15px;
}
